<div class="wrapper">
    <div class="listOfTasks">
        <div class="taskBlock">
            <img src="../../../assets/img/prohibited_words.png" alt="">
            <div class="taskBlock_title">Angular list of prohibited words</div>
            <div class="btnblock">
                <button class="viewMoreBtn" [routerLink]="[ '/cenzor' ]" routerLinkActive="active">details</button>
            </div>
        </div>
        <div class="taskBlock">
            <img src="../../../assets/img/tasks_list.png" alt="">
            <div class="taskBlock_title">Angular task list</div>
            <div class="btnblock">
                <button class="viewMoreBtn" [routerLink]="[ '/tasks' ]" routerLinkActive="active">details</button>
            </div>
        </div>
        <div class="taskBlock">
            <img src="../../../assets/img/users_list.png" alt="">
            <div class="taskBlock_title">Angular users list</div>
            <div class="btnblock">
                <button class="viewMoreBtn" [routerLink]="[ '/users' ]" routerLinkActive="active">details</button>
            </div>
        </div>
    </div>
</div>
