.showUser {
    width: 100%;
    height: fit-content;
    
}

table{
    width: 100%;
    height: fit-content;
    border-collapse: collapse;
}

table thead tr{
    height: 45px;
    width: 100%;
}
table thead tr th:nth-child(1){
    width: 5%;
    padding-left: 10px;
}
table thead tr th{
    text-align: start;
}
#tableBody tr th:nth-child(1){
    width: 5%;
    padding-left: 10px;
}
#tableBody tr th:nth-child(4){
    width: 30%;
}



table tbody tr{
    border-top: 1px solid rgba(205, 205, 205, 0.7);
    height: 45px;
    width: 90%;
}
table tbody tr:hover{
    background-color:rgba(205, 205, 205, 0.4) ;
}
table tbody tr th{
    font-weight: 100;
    height: 45px;
    text-align: start;
}

.editBtn{
    width: 45px;
    height: 30px;
    background-color: orange;
    border: none;
    border-radius: 3px;
}
.editBtn:hover{
    background-color: rgb(213, 139, 2);
    outline-offset: 2px;
    outline: 1px solid rgba(246, 162, 4, 0.7);
}
.deleteBtn{
    width: 70px;
    height: 30px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 3px;
}
.deleteBtn:hover:enabled{
    background-color: rgb(196, 0, 0);
    outline-offset: 2px;
    outline: 2px solid rgba(246, 4, 4, 0.7);
}

.deleteBtn:disabled{
    outline: none;
    background-color: rgb(199, 132, 132);
}

.update{
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.updateField{
    width: 50%;
    height: 30px;
    padding-left: 5px;
    border: 1px solid rgb(224, 224, 224);
    outline: none;
    border-radius: 5px;
}

.updateBtn{
    width: 10%;
    height: 30px;
    background-color: green;
    color: white;
    border: none;
    font-size: 16px;
    border-radius: 5px;
    margin-left: 5px;
}

.updateBtn:hover{
    outline: 1px solid rgb(83, 206, 83);
    background-color: rgb(13, 86, 13);
}
