<div class="main">
    <div class="spacer-md"></div>
    <div class="center-info">
        <h1 class="h2 title text-center">Продукти</h1>
    </div>
    <div class="spacer-md"></div>
    <div class="wrapper">
        <div class="tabs">
            <ul class="tab-list">
                <li class="tab">
                    <span>Всі</span>
                </li>
                <li class="tab">
                    <span>Філадельфія</span>
                </li>
                <li class="tab">
                    <span>Каліфорнія</span>
                </li>
                <li class="tab">
                    <span>Макі</span>
                </li>
                <li class="tab">
                    <span>Запечені</span>
                </li>
                <li class="tab">
                    <span>Фірмові</span>
                </li>
                <li class="tab">
                    <span>Преміум</span>
                </li>
            </ul>
        </div>
        <div class="spacer-md"></div>
        <app-item-card></app-item-card>
    </div>
</div>